<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    
 <header> 
         <nav class="navbar navbar-default navbar-fixed-top header">
            <div class="container-fluid">

             <div class="navbar-header">
	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
        <a class="logo sf_regular" href="#">&lt PF || Comunidad IT &gt</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <div action="/volverHome" class="navbar-form navbar-right">
	            <li class="dropdown">
	              <button  class="dropdown-toggle btn btn-danger" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> ${usuario} <b class="caret"></b></button>
	              <ul class="dropdown-menu ">
	                <li><form action="/HOME" method="POST"><button type="submit" class="aSalir btn-group-justified">Ir a Home</button></form></li> 
	                <li><form action="/volverHome" method="POST"><button type="submit" class="aSalir btn-group-justified"><span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</button></form></li>
	              </ul>
	            </li>
            </div>
          </ul>
        </div>
             
             
            </div> 
          </div>  

         </nav>


 </header>
<body class="">

	

<div class="container">

	<div class="row main">
		<div class="col-md-12 col-lg-8 sectorTablas">
			<div class="row">
				<br>
				<div class="btn-group btn-group-justified" role="group" aria-label="...">			
					<div class="btn-group" role="group">
						<form action="/adm_consorcios" method="POST"><button type="submit" class="btn btn-primary">Ir a Consorcios</button></form>
					</div>
					<div class="btn-group" role="group">
						<form action="/adm_proveedores" method="POST"><button type="submit"class="btn btn-primary">Ir a Proveedores</button></form>
					</div>
					<div class="btn-group" role="group">
						<form action="/adm_gastos" method="POST"><button type="submit" class="btn btn-primary">Ir a Gastos</button></form>
					</div>
				</div>
				
			</div>
			
			
			<h3>Listado de Usuarios:</h3>

				<table class="table table-bordered table-hover">
					
					<tr class="warning">
						<th>Username</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>DNI</th>
						<th>Email</th>
						<th>Edad</th>
						<th>Cat.</th>
					</tr>
					<#list usuarios as user>
					<tr>
						<th>${user.username}</th>
						<th>${user.nombre}</th>
						<th>${user.apellido}</th>
						<th>${user.dni}</th>
						<th>${user.mail}</th>
						<th>${user.edad}</th>
						<th>${user.categoria}</th>
						
						
					</#list>
					</tr>
					
					
					

				</table>


			</div>
		<div class="col-md-12 col-lg-4 nuevoRegistro">
			
			<br><h4>Ingresar Nuevo Usuario:</h4>
			
			
			<form action="/NuevoUser" method="POST" class="form-horizontal" id="formUser">
				<div class="form-group">
					<label class="control-label col-sm-3">Usuario:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="User" name="usernameNU" id="userNU">
						<label class="mensajeAlerta" id="llenarUser"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Pass:</label>
					<div class="col-sm-5">
						<input type="password" class="form-control" placeholder="Contraseña" name="passNU" id="passNU">
						<label class="mensajeAlerta" id="llenarPWD"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Nombre:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Nombre" name="nombreNU" id="nomNU">
						<label class="mensajeAlerta" id="llenarNom"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Apellido:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Apellido" name="apellidoNU" id="apeNU">
						<label class="mensajeAlerta" id="llenarApe"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">DNI:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="DNI" name="dniNU" id="dniNU">
						<label class="mensajeAlerta" id="llenarDNI"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Email:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="mail" name="emailNU" id="emaNU">
						<label class="mensajeAlerta" id="llenarMail"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Edad:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" placeholder="Edad" name="edadNU" id="edaNU">
						<label class="mensajeAlerta" id="llenarEdad"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3">Categoria:</label>
					<div class="col-sm-5">
<!-- 						<input type="text" class="form-control" placeholder="A, B, C" name="cateNU" id="cateNU"> -->
<!-- 						<label class="mensajeAlerta" id="llenarCate"></label> -->
						<select name="cateNU" id="cateNU" style="width:150px">
							
								<option value="">Seleccione categoría</option>
								<option value="A">A (Privilegios de Administrador)</option>
								<option value="B">B (Privilegios Limitados)</option>
								<option value="C">C (Usuario invitado)</option>
							
						</select>
						<label class="mensajeAlerta" id="llenarCate"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-3"></label>
					<div class="col-sm-5">
						<button type="submit" class="btn btn-warning">Cargar</button><br><br>
					</div>
				</div>
			</form>
			
		</div>
	</div>
</div>
	


</body>

</@layout.myLayout>